/*@media screen and (max-width: 1440px) {
   
    main {
        width: 1440px;
        height: 5902px;
    }
    .page1 {
        background-image: url(../image/frame.png);
        
        width: 100%;
        height: 15.15%;
    
    }
}
@media screen and (min-width: 1440px) {
   
    main {
        width: 1920px;
        height: 5902px;
    }
    .page1 {
        background-image: url(../image/frame.png);
        
        width: 100%;
        height: 15.15%;
    
    }
}*/

body {
    /*display: block;
    margin: auto;*/
    max-width: 1440px;
    width: 1440px;
    height: 5902px;
}
main{
    max-width: 1440px;
    width: 1440px;
    height: 5902px; 
}
.container-fluid{
    padding-left:0px;
    padding-right:0px;
}
.container {
    padding-left:0px;
    padding-right:0px;
}

#page1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background: url(../image/frame1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 894px;

}
#text_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1002px; 
}

#header_1 {
    width: 1138px;   
    display: inline-flex;
    justify-content: space-between;
}
#img_logo {
    background: url(../image/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:184px;
    height:184px;
}
#email{
    padding-top: 51px;
    width: 231px;
}
#phone{
    padding-top: 51px;
    width: 218px ;
}
.white_text{
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}
.white_text .text_underline{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
}
.maintext {

    width: 768px;
    font-size: 72px;
    line-height: 88px;
}
.bigtext {
    margin-top: 30px;
    width: 1002px;
    font-size: 40px;
    line-height: 49px;
}
.smalltext {
    margin-top: 25px;
    width: 416px;   
    font-size: 14px;
    line-height: 17px;
}
.main_doub_bord{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 262px;
}
.double_border {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    width: 262px;
    height: 132px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.back_border2{

    float: center;
    width: 244px;
    height:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.back_border1{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    border: 1px solid #E5E5E5;
    width: 244px;
    height:110px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
#information_1 {
    margin-top: 40px;
    display: inline-flex;
    justify-content: space-between;
    width: 926px;
}
.black_text{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.pad_text_bus{
    padding-left: 6px;
    padding-right: 26.75px;
}
.pad_text_sale{
    padding-left: 12px;
    padding-right: 26.75px;
}
.pad_text_money{
    padding-left: 17px;
    padding-right: 10.75px;
}
.bus{
    width: 105px;
    height: 69px;
}
.sale{
    width: 78px;
    height: 25px;
    padding-left: 7.75px;
}
.money{
    width: 78px;
    height: 74px;
    padding-left: 7.75px;
}
#section_button{
    display: flex;
    justify-content: center;
    height: 91px;
    width: 1000px;
    margin-top: 70px;
}
.img_button{
    padding-right: 13px;
    padding-bottom: 23px;
    box-sizing: border-box;
    
}
.text_button{
    width:275px;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    text-decoration: none;
    
}
.call_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(360deg, #1000C6 0%, #AD5CFF 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 0;
    border-radius: 10px;
    box-shadow: 0 6px 0 0 #06004D;
    width: 415px;
    height: 65px;
}
.call_button:hover{
    background:linear-gradient(360deg,#AD5CFF 0%,#1000C6 100%)
}
.call_button:active:before,
.call_button:active:after{
    border: none;
    box-shadow: none;
}
.call_button:active{
    border: none;
    bottom: -4px;
    margin-bottom: 22px;/* ХЗ зачем нужно*/

    box-shadow: inset 0 1px 15px -1px #06004D ;

}

#page2 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;;
    background: url(../image/Frame2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 861px;
}
#header_2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin-top:70px;
    width:600px;
    height: 132px;
}
#header_2 > div{
    font-size: 36px;
    line-height: 44px;
}
#header_2 > div:nth-of-type(2){
    display: flex;
    align-items: center;
}
.border_text{
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
    color:#0C0095;
    padding-left: 25px;
    padding-right: 25px;
    text-shadow:
    -0  -3px  0   #FF6302,
    0   -3px  0   #FF6302,
    -0   3px  0   #FF6302,
    0    3px  0   #FF6302,
    -3px -0   0   #FF6302,
    3px  -0   0   #FF6302,
    -3px  0   0   #FF6302,
    3px   0   0   #FF6302,
    -3px -3px 0   #FF6302,
    3px  -3px 0   #FF6302,
    -3px  3px 0   #FF6302,
    3px   3px 0   #FF6302,
    -3px -3px 0   #FF6302,
    3px  -3px 0   #FF6302,
    -3px  3px 0   #FF6302,
    3px   3px 0   #FF6302;
}
#information_2{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-top: 55.86px;
}
#information_2 .main_doub_bord{
    width: 701px;
    height: 160px;
}
#information_2 .double_border{
    width: 701px;
    height: 149px;
}
#information_2  .back_border1{
    justify-content: center;
    width: 679px;
    height: 126px;
}
#information_2  .back_border2{
    width: 679px;
}
#information_2 .black_text{
    text-align: center;
    width: 554px;  
    line-height: 24px;
}
#products{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 40px;
}
.product{
    
}
#products .white_text{
    float:left;
    line-height: 24px;
    display:inline;
}
.img_prod{
    float:right;
}
/*.img_prod img
    
    
}*/
#products .border_text{
    padding: 0 0 0 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
    float:left;
    width: 77px;
    text-shadow:
    -0  -3px  0   #FF6302,
    0   -3px  0   #FF6302,
    -0   3px  0   #FF6302,
    0    3px  0   #FF6302,
    -3px -0   0   #FF6302,
    3px  -0   0   #FF6302,
    -3px  0   0   #FF6302,
    3px   0   0   #FF6302,
    -3px -3px 0   #FF6302,
    3px  -3px 0   #FF6302,
    -3px  3px 0   #FF6302,
    3px   3px 0   #FF6302,
    -3px -3px 0   #FF6302,
    3px  -3px 0   #FF6302,
    -3px  3px 0   #FF6302,
    3px   3px 0   #FF6302;
}